@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

:root {
  --azul_marinho: #1b2c58;
  --azul_piscina: #478f98;
  --amarelo: #fb8f01;
  --laranja: #ff4d2f;
  --rosa_coral: #fd4e5b;
  --amarelo_faded: #ffeee7;
  --branco_amarelado: #fffcf7;
  --rosa_coral_faded: #fff0f1;
  --laranja_faded: #fdded8;
  --azul_piscina_transparente: #478f981d;
  --azul_marinho_desbotado: #44446b;
  --branco: white;
  --cinzaescuro: #474a51;

  --cor_botoes: var(--azul_marinho);
  --cor_texto_botoes: var(--branco_amarelado);
  --cor_cartoes: var(--branco_amarelado);
  --cor_fundo: var(--amarelo_faded);
  --cor_header: var(--azul_piscina);
  --cor_texto_normal: var(--azul_marinho_desbotado);
  --cor_texto_escuro: var(--azul_marinho);
  --navbar: #e8ebea;
  --cor_fog: #000000bc;
  --overlay: #fffcf7d3;
  --cor_radio: var(--azul_marinho);
  --cor_transparencia: var(--azul_piscina_transparente);
}

button {
  font-family: "Poppins", sans-serif;
  background-color: var(--cor_botoes);
  cursor: pointer;
  font-weight: 200;
}

button:hover {
  background-color: var(--azul_piscina);
  transition: all 0.3s ease-in-out;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  color: var(--cor_texto_normal);
  background-color: var(--cor_cartoes);
}

input[type="radio"] {
  accent-color: var(--cor_radio);
}

input[type="radio"]:hover {
  accent-color: var(--azul_piscina);
  background-color: var(--azul_piscina);
  transition: all 0.3s ease-in-out;
}

/*Navbar: inicio*/

#navbar {
  width: 100%;
  background: var(--navbar);
  color: var(--azulmarinho);
  height: 14%;
  position: fixed;
  z-index: 1000;
}

a {
  color: inherit;
  text-decoration: none;
}

#navbar-container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 9.5rem;
}

.user {
  justify-content: space-between;
  align-items: center;
  margin: auto;
  display: flex;
  width: 20%;
  position: relative;
  margin-right: 0px;
}

.user .conta {
  padding-right: 28%;
}

.input-container {
  width: 60vh;
  position: relative;
  left: 180px;
}

#search-input {
  width: 60vh;
  height: 2px;
  border-radius: 50px;
  border: 1px solid var(--cinzaescuro);
  outline: none;
  padding: 14px 30px;
  font-size: 0.7rem;
  text-align: center;
  background: var(--cinzaclaro);
}

#search-input:focus {
  border: 2px solid var(--azulpiscina);
  background-color: var(--branco);
}

.input-container label {
  position: absolute;
  top: 4.5px;
  right: 4%;
  color: grey;
  cursor: pointer;
}

#showcase {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../imagens/Banner.jpeg") no-repeat center center/cover;
}

#showcase .btn {
  display: inline-block;
  padding: 8px 30px;
  font-size: 1.1rem;
  text-transform: uppercase;
  background: var(--azulmarinho);
  color: var(--branco);
  border-radius: 10px;
  text-decoration: none;
}

#showcase .btn:hover {
  cursor: pointer;
  background: var(--azulpiscina);
}

/*Navbar: fim*/

.checkout {
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-weight: 100;
  margin-top: 130px;
  font-size: 11px;
}

.card {
  background-color: var(--cor_cartoes);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0 2px 5px var(--cor_fundo);
  font-size: 11px;
}

.card--header {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 0;
  margin-top: 0;
  height: 50px;
  background-color: var(--cor_header);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}

.logo-ocean {
  height: 48px;
  padding-top: 8px;
}

.card--titulo {
  color: var(--cor_texto_escuro);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
}

.card--dados {
  display: flex;
  margin-top: 50px;
  font-size: 11px;
}

.card--nome-telefone {
  display: flex;
  color: var(--cor_texto_escuro);
  font-weight: 600;
  font-size: 11px;
}

.card--nome-telefone :nth-child(2) {
  padding-left: 15px;
  font-size: 11px;
}

.card--informacoes {
  width: 90%;
  font-size: 11px;
}

.card--botao-endereco {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  color: var(--cor_cartoes);
}

.card--acao {
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.card--alterar-dados {
  height: 0;
  padding: 0;
  margin: 0;
}

.card--cabecalho {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card--itens {
  height: 165px;
  display: flex;
  flex-direction: row;
  width: auto;
  overflow: scroll;
  scrollbar-width: none;
}

.card--itens::-webkit-scrollbar {
  display: none;
}

.card--imagem {
  display: block;
  text-align: center;
  padding-right: 10px;
  height: 128px;
}

.card--imagem img {
  width: 88px;
  height: 128px;
}

.card--preco {
  transform: translate(0, -30px);
  font-size: 10px;
  font-weight: bolder;
}

.card--quantidade {
  font-size: 9px;
  display: flex;
  z-index: 9;
  width: 30px;
  height: 30px;
  position: relative;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: -30%;
  transform: translate(-50%, 0);
  background-color: var(--overlay);
  border-radius: 50%;
  color: var(--text_color_dark);
}

.card--rodape {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.card--selecoes-frete {
  display: flex;
  flex-direction: row;
  padding: 10px 0 10px 0;
  font-size: 11px;
}

.frete--texto {
  margin-left: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 11px;
}

.OpcoesPagamento {
  overflow: hidden;
  height: 50px;
  font-size: 11px;
}

.pagamento__show {
  height: 50px;
  transition: all 0.3s ease-in;
}

.card--opcao-pagamento {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 11px;
}

.parcelas {
  height: 50px;
  overflow: hidden;
  display: flex;
  width: 100%;
  transition: all 0.2s ease-in;
  font-size: 11px;
}

.seletor--parcelas {
  margin-left: 10px;
  margin-right: 10px;
}

.parcelas__show {
  height: 50px;
}

.card--opcao-pagamento img {
  width: 48px;
  height: 48px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card--cupom {
  margin-top: 10px;
  height: 40px;
  width: 250px;
  margin-left: 20px;
  margin-bottom: 10px;
  display: flex;
  font-size: 11px;
}

.cupom--texto {
  width: 200px;
  border: none;
  background-color: var(--azul_piscina_transparente);
  font-family: "Poppins", sans-serif;
  padding-left: 10px;
  border-radius: 10px 0 0 10px;
  text-transform: uppercase;
  font-size: 11px;
}

.cupom--texto:focus {
  outline: none;
  box-shadow: 1px 1px 2px var(--azul_marinho_desbotado);
  transition: all 0.1s ease-in-out;
  background-color: var(--branco);
}

.cupom--botao {
  width: 60px;
  border: none;
  background-color: var(--cor_botoes);
  color: var(--cor_cartoes);
  padding: 0 2px 0 2px;
  border-radius: 0 10px 10px 0;
}

.card--cupom-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cupom__show {
  margin-bottom: 10px;
  height: 60px;
  background-color: var(--azul_piscina_transparente);
  transition: all 0.1s ease-in-out;
  transition: background-color 0.3s ease-out;
}

.linha {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;
}

.linha :nth-child(2) {
  text-align: right;
}

.card--finalizar {
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: column;
  height: auto;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  box-shadow: 0 -1px 10px var(--cor_fundo);
}

.card--finalizar-texto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.botao-finalizar {
  height: 0;
  pointer-events: none;
  overflow: hidden;
  padding: 0;
  align-self: center;
  border: none;
  background-color: var(--cor_botoes);
  color: var(--cor_cartoes);
  letter-spacing: 1.5px;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
}

.botao-finalizar:hover {
  width: 95%;
  letter-spacing: 3px;
}

.botao__show {
  width: 90%;
  padding: 10px 0 10px 0;
  margin-top: 10px;
  height: auto;
  pointer-events: auto;
  transition: all 0.3s ease-in-out;
}

.card--espacador {
  height: 95px;
  background-color: none;
  background-color: var(--cor_cartoes);
  font-weight: bolder;
}

.card--sacola {
  position: fixed;
  z-index: 12;
  bottom: -200%;
  left: 0;
  right: 0;
  height: 500px;
  transition: all 0.15s ease-out;
}

.card--fog {
  z-index: 11;
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background-color: var(--cor_fog);
  pointer-events: none;
  transition: all 0.1s ease-in;
}

.mostrar__opacidade {
  opacity: 1;
  pointer-events: auto;
}

.mostrar__slide {
  bottom: -10px;
}

/* Mobile */
@media only screen and (min-width: 768px) {
  .card--header {
    height: 80px;
  }

  .header--limites {
    width: 90%;
  }

  .header--limites img {
    transform: scale(1.7);
  }

  .boddy {
    background-color: var(--branco_amarelado);
  }

  .card {
    box-shadow: 0 2px 5px var(--cor_fundo);
  }

  .checkout {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--branco_amarelado);
    margin-top: 80px;
  }

  .desktop--coluna-1 {
    width: 65%;
    padding-top: 5px;
  }

  .desktop--coluna-2 {
    width: 34%;
    padding-top: 5px;
  }

  .card--dados {
    margin-top: 80px;
    height: 100px;
  }

  .card--cupom-container {
    margin-top: 80px;
  }

  .card--cupom {
    width: 92%;
  }

  .card--espacador {
    display: none;
  }

  .linha {
    display: flex;
    justify-content: space-between;
    padding: 2px 0 2px 0;
  }

  .card--finalizar {
    position: relative;
  }
}

@media only screen and (max-width: 1000px) {
  .header--limites {
    width: 890px;
  }
}


@media only screen and (max-width: 280px) {
  #search-input {
    font-size: 8px;
  }

  #catalog-container {
    grid-template-columns: repeat(2, 1fr);
  }

  #navbar-container .icon-user {
    padding-right: 5px;
  }
}

@media only screen and (max-width: 754px) {
  #navbar {
    height: 140px;
    width: 100%;
  }

  #navbar-container {
    flex-direction: column;
    width: 80%;
  }

  .logo {
    width: 120px;
    margin-left: 0%;
  }

  .input-container {
    width: 80%;      
    position: relative;
    left: 0px;
  }

  #search-input {
    display: flex;
    width: 100%;
    padding: 10px;
  }

  .input-container label {
    position: absolute;
    right: 5%;
    top: 0%;
  }

  .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.6rem;
    height: 25px;
    width: 50%;
    margin-right: 25%;
    margin-top: 5px;
  }

  #navbar-container .conta {
    padding-right: 40px;
  }
}

@media only screen and (max-width: 912px) {
  #navbar-container .conta {
    padding-right: 25%;
  }
}

@media only screen and (max-width: 1024px) {
 .user .conta {
    padding-right: 405px;
  }
}

@media only screen and (max-width: 1280px) {
 .user .conta {
    padding-right: 405px;
  }
}

@media only screen and (max-width: 1350px) {
  #navbar {
    height: 140px;
    width: 100%;
  }

  #navbar-container {
    flex-direction: column;
    width: 80%;
  }

  .logo {
    width: 120px;
    margin-left: 0%;
  }

  .input-container {
    width: 80%;      
    position: relative;
    left: 0px;
  }

  #search-input {
    display: flex;
    width: 100%;
    padding: 10px;
  }

  .input-container label {
    position: absolute;
    right: 5%;
    top: 0%;
  }

  .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.6rem;
    height: 25px;
    width: 50%;
    margin-right: 25%;
    margin-top: 5px;
  }
}