@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
    color: #1B2C58;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
  }
  :root {
    --branco: #fff;
    --azulmarinho: #1b2c58;
    --azulpiscina: #478f98;
    --amarelo: #fb8f01;
    --rosacoral: #fd4e5b;
    --laranja: #ff4d2f;
    --cinzaescuro: #474a51;
  }
  
  /* Navbar */
  #navbar {
    width: 100%;
    background: #e8ebea;
    color: var(--azulmarinho);
    height: 14%;
    position: fixed;
  }
  
  #navbar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    max-width: 9.5rem;
    min-width: 2rem;
  }
  
  .user {
    justify-content: space-between;
    align-items: center;
    margin: auto;
    display: flex;
    width: 200px;
  }
  
  .user .icon-user {
    display: flex;
    flex-direction: row;
    align-items: center;
  
    right: 30%;
    cursor: pointer;
  }
  
  #user-icon {
    margin-right: 5px;
  }
  
  .user .conta {
    position: absolute;
    right: 21%;
    cursor: pointer;
  }
  
  #search-input {
    width: 70vh;
    min-width: 30vh;
    height: 2px;
    border: none;
    border-radius: 50px;
    border: 1px solid var(--cinzaescuro);
    outline: none;
    padding: 14px 30px;
    font-size: 0.7rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: rgba(27.8, 56.1, 59.6, 0.1);
  }
  
  #search-input:focus {
    border: 2px solid var(--azulpiscina);
    background-color: var(--branco);
  }
  
  .input-container {
    position: relative;
    left: 130px;
  }
  
  .input-container:hover {
    border: 1px solit var(--blue);
  }
  
  .input-container label {
    position: absolute;
    top: 4px;
    right: 2.5%;
    color: grey;
    cursor: pointer;
  }
  
  .input-container label:hover {
    color: var(--azulmarinho);
  }
  /* Mobile */
  @media only screen and (max-width: 1350px) {
    #navbar {
      height: 180px;
      width: 100%;
    }
  
    #navbar-container {
      display: flex;
      flex-direction: column;
      width: 90%;
    }
  
    #search-input {
      width: 20%;
      margin-right: 255px;
    }
  
    .input-container label {
      position: absolute;
      left: 43%;
    }
  
    .user {
      display: flex;
      justify-content: space-between;
      font-size: 0.6rem;
      height: 20px;
      width: 40%;
    }
  
    .logo {
      transform: scale(0.8);
    }
  }
  body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }
.pgcontainer {
    display: flex;
    height: 500px;
    margin-top: 150px;
}

#navbar {
    display: flex;
    background-color: #eceef5;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar .navbar-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar .navbar-container .logo {
    height: 80px;
    width: auto;
}

#navbar .navbar-container ul {
    display: flex;
    list-style: none;
}

#navbar .navbar-container ul i {
    padding: 0 20px;
}

#navbar .navbar-container ul i:nth-child(1) {
    border-right: 1px solid black;
    }

.descrital {
   padding-top: 125px;

}

#showcase {
    max-width: 100%;
    -moz-transition: 0.3s;
    cursor:zoom-in;
    float: left;
    margin: 0;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 25px;
}
.showcase:hover img {
    -moz-transform: scale(2.0);
    -webkit-transform: scale(2.0);
    transform: scale(2.0);

}

.showcase-container {
   
    padding-top: 0;
    margin: 0;
    display: inline block;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
   
}
.showcase:hover {
    -moz-transform: scale(2.0);
    -webkit-transform: scale(2.0);
    transform: scale(2.0);

}
.showcase-container h2 {
    padding-bottom: 25px;
   
}
 
.showcase-container p:nth-child(1) {
    font-size: 35px;
}
.showcase-container p:nth-child(2) {
    padding-bottom: 10px;
}

.showcase-container p:nth-child(3) {
    color: gray;
    padding-bottom: 10px;
  
}
.showcase-container p:nth-child(4) {
    color: gray;   
}
.showcase--container hover:{
    max-width: 100%;
    -moz-transition: 0.3s;
    cursor:zoom-in;

}
.showcase--container:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);

}
.adicionar-sacola{
    padding-top: 15px;
}

.btn-primary:hover {
    background: #478F98;
    cursor: pointer;
}
.btn-primary {
  
   display: flex;
   background: #1B2C58;
   color: white;
   padding: 10px 60px;
   border: none;
   border-radius: 10px;
   text-transform: uppercase;
  }
  
.tamanhos:hover {
   background: rgb(199, 182, 182);
   cursor: pointer;

}
 .tamanhos {
   display: inline;
   background: white;
   color: black;
   padding: 10px 10px;
   margin-right:  5px;
   border-radius: 5px;
    }
  